/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "partials/colors";
@import "partials/grid";
@import "partials/pixeltot";
@import "partials/typography";
@import "partials/gradients";

html, body{
  background:$color-one;
  color:$color-twelve;
  height:100%;
  width:100%;
  position:absolute;
  font-family:'open sans';
}
.col-sm-12 {
    min-height: 130px;
}
.container-fluid {
    min-width: 480px;
}
img{
  max-height:200px !important;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: rgb(90, 103, 107);
}
a, a:focus{
  outline:0;
}

.music-wheel {
    background: url("../images/musicwheel.jpg") no-repeat scroll 0 0 / 600px auto rgba(0, 0, 0, 0);
    max-width: 600px;
    min-height: 600px;
    width: 100%;
}

/*
.circle-bg-note {
    background: none repeat scroll 0 0 rgb(200, 200, 200);
    border-radius: 50%;
    color: rgb(0, 0, 0);
    height: 50px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    width: 50px;
}
*/
ol.rnm {
    display: inline-block;
    margin: 0;
    padding: 0;
}
ol.rnm li{
  display:inline;
  padding:12px 17px;
}
.mode-name {
    padding-top: 38px;
    position: absolute;
    transform: rotate(40deg);
}