<!DOCTYPE html>
<html ng-app="musicApp">
<head>
	<meta charset="UTF-8"></meta>
	<meta content="author" name="pixeltot"></meta>
	<meta content="author" name="Anthony Jurado"></meta>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/screen.css">
</head>
<body ng-controller="StoreController as store">
	
	<section class="menu" ng-controller="MenuController as menu">
		<div class="container-fluid main">
		<ul class="nav nav-pills">
			<li ng-class="{ active: menu.isSet(1) }"><a href ng-click="menu.setMenu(1)">Scales</a></li>
    		<li ng-class="{ active: menu.isSet(2) }"><a href ng-click="menu.setMenu(2)">Chords</a></li>
    		<li ng-class="{ active: menu.isSet(3) }"><a href ng-click="menu.setMenu(3)">Wheel</a></li>
    		<li ng-class="{ active: menu.isSet(4) }"><a href ng-click="menu.setMenu(4)">Calculator</a></li>
    		<li ng-class="{ active: menu.isSet(5) }"><a href ng-click="menu.setMenu(5)">Questionares</a></li>
    	</ul>
    	<div ng-show="menu.isSet(1)">
			<div class="container-fluid">
	
				<h1>Keys</h1>
						<!--Tabs-->
				<section class="tab" ng-controller="TabController as tab">
				
  					<ul class="nav nav-pills notes">
    					<li ng-class="{ active: tab.isSet(1) }"><a href ng-click="tab.setTab(1)">A</a></li>
    					<li ng-class="{ active: tab.isSet(2) }"><a href ng-click="tab.setTab(2)">B</a></li>
    					<li ng-class="{ active: tab.isSet(3) }"><a href ng-click="tab.setTab(3)">C</a></li>
      					<li ng-class="{ active: tab.isSet(4) }"><a href ng-click="tab.setTab(4)">D</a></li>
      					<li ng-class="{ active: tab.isSet(5) }"><a href ng-click="tab.setTab(5)">E</a></li>
      					<li ng-class="{ active: tab.isSet(6) }"><a href ng-click="tab.setTab(6)">F</a></li>
      					<li ng-class="{ active: tab.isSet(7) }"><a href ng-click="tab.setTab(7)">G</a></li>
      					<li ng-class="{ active: tab.isSet(8) }"><a href ng-click="tab.setTab(8)">music wheel</a></li>
  					</ul>
  				<div ng-show="tab.isSet(1)">
   				 	<div class="row">
   				 		<div class="col-sm-12">
   				 			<h2 class="">MAJOR</h2>
   				 			<ol type="I" class="rnm">
	    						<li><h3>&#8544;</h3><h3>A</h3><span class="mode-name">Ionian</span></li>
	    						<li><h3>&#8545;</h3><h3>B</h3><span class="mode-name">Dorian</span></li>
	    						<li><h3>&#8546;</h3><h3>C#</h3><span class="mode-name">Phrygian</span></li>
	    						<li><h3>&#8547;</h3><h3>D</h3><span class="mode-name">Lydian</span></li>
	    						<li><h3>&#8548;</h3><h3>E</h3><span class="mode-name">Mixolydian</span></li>
	    						<li><h3>&#8549;</h3><h3>F#</h3><span class="mode-name">Aeolian</span></li>
	    						<li><h3>&#8550;</h3><h3>G#</h3><span class="mode-name">Locrian</span></li>
    						</ol>
   				 		</div><!--first column-->
   				 	</div><!--end of row-->
   				 	<div class="row">
   				 		<div class="col-sm-12">
   				 			<h2 class="">MINOR</h2>
   				 			<ol type="I" class="rnm">
	    						<li>A <span class="mode-name">Ionian</span></li>
	    						<li>B <span class="mode-name">Dorian</span></li>
	    						<li>C#<span class="mode-name">Phrygian</span></li>
	    						<li>D <span class="mode-name">Lydian</span></li>
	    						<li>E <span class="mode-name">Mixolydian</span></li>
	    						<li>F#<span class="mode-name">Aeolian</span></li>
	    						<li>G#<span class="mode-name">Locrian</span></li>
    						</ol>
   				 		</div><!--first column-->
   				 	</div><!--end of row-->
    			</div><!--end of first tab-->
  				<div ng-show="tab.isSet(2)">
   					<h4>B</h4>
   				 	<blockquote>Shine: {{product.shine}}</blockquote>
 				</div><!--end of second tab -->
  				<div ng-show="tab.isSet(3)">
    				<h4>C</h4>
  				</div><!--end of third tab -->
  				<div ng-show="tab.isSet(4)">
   				 	<h4>D</h4>
    				<blockquote>{{product.description}}</blockquote>
  				</div><!--end of fourth tab -->
  				<div ng-show="tab.isSet(5)">
   					<h4>E</h4>
   				 	<blockquote>Shine: {{product.shine}}</blockquote>
 				</div>
  				<div ng-show="tab.isSet(6)">
    				<h4>F</h4>
  				</div>
  				<div ng-show="tab.isSet(7)">

    				<h4>G</h4>
  				</div>
  				<div ng-show="tab.isSet(8)">
  					<h2>Music Wheel</h2>
  					<div class="music-wheel">
  						
  					</div>
  				</div>
			</section><!--end of section which wraps up tabcontroller -->
			</div><!--end of container-fluid-->
		</div><!--end of first menu div, so menu.isSet(1) -->
		<div ng-show="menu.isSet(2)">
			<div class="container-fluid">
				<h1>second menu item clicked</h1>
			</div>
		</div>
		<div ng-show="menu.isSet(3)">
			<div class="container-fluid">
				<h1>Third menu item clicked</h1>
				<div class="music-wheel"></div>
			</div>
		</div>
		<div ng-show="menu.isSet(4)">
			<div class="container-fluid">
				<h1>calculator can go in here</h1>
			</div>
		</div>
		<div ng-show="menu.isSet(5)">
			<div class="container-fluid">
				<h1>Fifth menu item clicked</h1>
				
			</div>
		</div>
		</div><!--end of container-fluid for main navigation -->
	</section><!--end of menu controller for main navigation-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
<script src="js/app.js"></script>

</body>
</html>