// colors.scss
$color-one:rgb(230,230,230);
$color-two:rgb(40,40,40);
$color-three:rgba(20,110,120,.2);
$color-four:rgb(80,80,80);
$color-five:rgb(100,100,100);
$color-six:rgb(120,120,120);
$color-seven:rgb(120,120,120);
$color-eight:rgb(140,140,140);
$color-nine:rgb(160,160,160);
$color-ten:rgb(180,180,180);
$color-eleven:rgb(200,200,200);
$color-twelve:rgb(220,220,220);
$color-thriteen:rgb(240,240,240);
$color-white:#fff;
$color-black:#000;


