/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
/* line 2, ../sass/partials/pixeltot.scss */
.pixeltot-banner {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 7, ../sass/partials/pixeltot.scss */
.full-screen {
  width: 100%;
  height: 100%;
  position: relative;
  background: #141414;
}

/* line 13, ../sass/partials/pixeltot.scss */
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
}

/* line 24, ../sass/partials/pixeltot.scss */
.circle > h1 {
  text-align: center;
}

/* line 27, ../sass/partials/pixeltot.scss */
.inner-circle {
  position: absolute;
  width: 300px;
  height: 300px;
  background: rgba(20, 110, 120, 0.2);
  border-radius: 50%;
  top: -50%;
  left: -50%;
}

/* line 36, ../sass/partials/pixeltot.scss */
.inner-circle:nth-child(1) {
  transform: rotate(20deg);
  transform-origin: bottom right;
}

/* line 40, ../sass/partials/pixeltot.scss */
.inner-circle:nth-child(2) {
  transform: rotate(40deg);
  transform-origin: bottom right;
}

/* line 44, ../sass/partials/pixeltot.scss */
.inner-circle:nth-child(3) {
  transform: rotate(60deg);
  transform-origin: bottom right;
}

/* line 48, ../sass/partials/pixeltot.scss */
.inner-circle:nth-child(4) {
  transform: rotate(80deg);
  transform-origin: bottom right;
}

/* line 52, ../sass/partials/pixeltot.scss */
.inner-circle:nth-child(5) {
  transform: rotate(100deg);
  transform-origin: bottom right;
}

/* line 56, ../sass/partials/pixeltot.scss */
.inner-circle:nth-child(6) {
  transform: rotate(120deg);
  transform-origin: bottom right;
}

/* line 60, ../sass/partials/pixeltot.scss */
.inner-circle:nth-child(7) {
  transform: rotate(140deg);
  transform-origin: bottom right;
}

/* line 64, ../sass/partials/pixeltot.scss */
.inner-circle:nth-child(8) {
  transform: rotate(160deg);
  transform-origin: bottom right;
}

/* line 68, ../sass/partials/pixeltot.scss */
.inner-circle:nth-child(9) {
  transform: rotate(180deg);
  transform-origin: bottom right;
}

/* line 72, ../sass/partials/pixeltot.scss */
.inner-circle:nth-child(10) {
  transform: rotate(200deg);
  transform-origin: bottom right;
}

/* line 76, ../sass/partials/pixeltot.scss */
.inner-circle:nth-child(11) {
  transform: rotate(220deg);
  transform-origin: bottom right;
}

/* line 80, ../sass/partials/pixeltot.scss */
.inner-circle:nth-child(12) {
  transform: rotate(240deg);
  transform-origin: bottom right;
}

/* line 84, ../sass/partials/pixeltot.scss */
.inner-circle:nth-child(13) {
  transform: rotate(260deg);
  transform-origin: bottom right;
}

/* line 88, ../sass/partials/pixeltot.scss */
.inner-circle:nth-child(14) {
  transform: rotate(280deg);
  transform-origin: bottom right;
}

/* line 92, ../sass/partials/pixeltot.scss */
.inner-circle:nth-child(15) {
  transform: rotate(300deg);
  transform-origin: bottom right;
}

/* line 96, ../sass/partials/pixeltot.scss */
.inner-circle:nth-child(16) {
  transform: rotate(320deg);
  transform-origin: bottom right;
}

/* line 100, ../sass/partials/pixeltot.scss */
.inner-circle:nth-child(17) {
  transform: rotate(340deg);
  transform-origin: bottom right;
}

/* line 104, ../sass/partials/pixeltot.scss */
.inner-circle:nth-child(18) {
  transform: rotate(360deg);
  transform-origin: bottom right;
}

/* line 3, ../sass/partials/gradients.scss */
.gradient-1 {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #191e1e;
  border-image: none;
  border-style: solid solid none;
  border-width: 10px 0 0;
  background: #111414;
  /* Old browsers */
  background: linear-gradient(-45deg, #111414 0%, #141e1e 100%) !important;
  background: -moz-linear-gradient(-45deg, #111414 0%, #141e1e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #111414), color-stop(100%, #141e1e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #111414 0%, #141e1e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #111414 0%, #141e1e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #111414 0%, #141e1e 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #111414 0%, #141e1e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111414', endColorstr='#141e1e',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

/* line 23, ../sass/partials/gradients.scss */
.gradient-2 {
  background: #141e1e;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #141e1e 0%, #111414 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #141e1e), color-stop(100%, #111414));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #141e1e 0%, #111414 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #141e1e 0%, #111414 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #141e1e 0%, #111414 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #141e1e 0%, #111414 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141e1e', endColorstr='#111414',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

/* line 12, ../sass/screen.scss */
html, body {
  background: #141414;
  color: gainsboro;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* line 19, ../sass/screen.scss */
img {
  max-height: 200px !important;
}

/* line 22, ../sass/screen.scss */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #5a676b;
}

/* line 26, ../sass/screen.scss */
a, a:focus {
  outline: 0;
}

/* line 28, ../sass/screen.scss */
li {
  padding: 12px 0;
}

/* line 31, ../sass/screen.scss */
.container-fluid {
  max-width: 950px;
  min-width: 850px;
}

/* line 35, ../sass/screen.scss */
.music-wheel {
  background: url("../images/musicwheel.jpg") no-repeat scroll 0 0/600px auto transparent;
  max-width: 600px;
  min-height: 600px;
  width: 100%;
}
